/*-- scss:defaults --*/
$body-bg:                   #fdfbf7 !default;
$body-color:                #4e734d !default;
$link-color:                #425f41 !default;

$navbar-bg:                 #4e734d !default;
$navbar-fg:                 #fdfbf7 !default;


$font-family-sans-serif: 'Montserrat';
$font-family-monospace: 'Montserrat';

/*-- scss:rules --*/
@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/teko-v15-latin-regular.woff') format('woff2'),
         url('static/fonts/teko-v15-latin-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('static/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('static/fonts/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 56em) {
  html {
    font-size: 1.1em;
  }
}

/*footer*/
.nav-footer{
  background-color:#4e734d;
  color: #fdfbf7;
}

/*link*/
.listing-title{
  color: #4e734d;
}

.listing-title:hover {
  text-decoration:underline;
  color:#425f41;
}

.light-mode { display: block; }
.dark-mode { display: none; }