/*-- scss:defaults --*/
$body-bg:                   #2a2a2a !default;
$body-color:                #eaeaea !default;
$link-color:                #dddddd !default;

$navbar-bg:                 #333333 !default;
$navbar-fg:                 #eaeaea !default;
$navbar-hl:                 #eaeaea !default;



$font-family-sans-serif: 'IBM Plex Sans';
$font-family-monospace: 'IBM Plex Sans';

/*-- scss:rules --*/
@font-face {
    font-family: 'Teko';
    src: url('static/fonts/teko-v15-latin-regular.woff') format('woff2'),
         url('static/fonts/teko-v15-latin-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('static/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('static/fonts/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 56em) {
  html {
    font-size: 1.1em;
  }
}

/*footer*/
.nav-footer{
  border-top: 0px !important;
  background-color:#333333;
  color: #fdfbf7;
}

/*link*/
.listing-title{
  color: #eaeaea;
}

.listing-title:hover {
  text-decoration:underline;
  color:#dddddd;
}

.dark-mode { display: block; }
.light-mode { display: none; }
