  h1 {
    font-size: 2.5em;
    font-weight: 400;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  body {
  font-family: 'Montserrat';
  }
  
  .profile-pic {
    border-radius: 50%;
    position: center;
    text-align: center;
  }

  .home-intro{
    margin-top: -30px;
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 1.3em;
  }
  
  .news-header{
    font-size: 2em;
    font-family: 'Montserrat';
    margin-bottom: -30px;
  }
    
  
  div.quarto-post .thumbnail {
    flex-basis: 20%;
  }
  
  div.quarto-post .thumbnail img {
    margin-top: .4em;
    width: 100%;
    object-fit: scale-down;
  }
  
  
  .all-link{
    font-size: 1em;
    text-align: right;
  }
  
  .all-link a{
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .all-link a::after{
    display: inline-block;
    content: "→";
    position: relative;
    margin-left: 2px;
  }
  
  .about-link{
    font-size: 1em;
    float: right;
  }
  
  .about-link a{
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .about-link a::after{
    display: inline-block;
    content: "→";
    position: relative;
    margin-left: 2px;
  }
  
  .home-section {
    background-color: #ebe9e1;
    padding: 10px 0;
    animation: intro .3s both;
    animation-delay: .15s;
  }

  .grey-section {
    background-color: #ebe9e1;
  }
  
  /*apagar*/
  .news-section {
    background-color: #383732;
    padding: 20px 0px;
  }
  /*apagar*/

  .light-section {
    background-color: #4e734d;
    padding: 20px 0px;
  }

  .light-header{
    font-size: 2em;
    font-family: 'Montserrat';
    margin-bottom: -30px;
    color: #fdfbf7;
  }

  .light-bg {
    background-color: rgba(78, 115, 77, 0.25);
  }

  .dark-section {
    background-color: #383732;
    padding: 20px 0px;
  }
  
  .dark-header{
    font-size: 2em;
    font-family: 'Montserrat';
    margin-bottom: -30px;
  }

  .dark-bg {
    background-color: rgba(56, 55, 50, 0.45);
  }
  
  .table {
    --bs-table-hover-bg:   rgb(235, 233, 225, 0.45);
  }

  .blank-space {
    margin-right: 50px;
  }
  
  .portrait {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-bottom: 70px;
    margin-right: 50px;
    border-radius: 50%;
    position: center;
    float: left;
  }

  /* --- skills --- */
  .skills {
    margin-top: 20px;
<<<<<<< HEAD
    margin-left: 20px;
=======
>>>>>>> 5bea3f2c02210c6f7705bd10938698d294cbc195
    position: center;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
  }


  .monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
  }
  
  .monospace a {
    color: #1D75AB;
    text-decoration: none;
  }
  
  .contrib-footer {
    font-size: 9px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
  }
  
  .left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
  }
  .left.text-muted a {
    color: #4078c0;
    text-decoration: none;
  }
  .left.text-muted a:hover,
  .monospace a:hover {
    text-decoration: underline;
  }
  
  h2.f4.text-normal.mb-3 {
    display: none;
  }
  
  .float-left.text-gray {
    float: left;
  }
  #user-activity-overview{
    display:none;
  }
  
  .day-tooltip {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    font-size: 9px;
    color: #959da5;
    text-align: center;
    background: rgba(0,0,0,.85);
    border-radius: 3px;
    display: none;
    pointer-events: none;
  }
  .day-tooltip strong {
    color: #dfe2e5;
  }
  .day-tooltip.is-visible {
    display: block;
  }
  .day-tooltip:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -5px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0,.85)
  }
  
  .highlight-color{
   color: #AD0059;
  }
  
  /* --- widget border --- */
  iframe{
    border:1px solid black;
    border-radius: 25px
  }
  
  .wrapper {
    display: flex;
    }